.connection-wrapper{
    margin-top: 7px;
}

.connection-text{
    position: relative;
    top:1px;
}

.logout-button,.login-button{
    transition: all 250ms;
}

.logout-button:hover{
    background: rgba(0, 0, 0, 0.08);
}

.login-button{
    background: #2ebd59;
    border: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.login-button:hover,.login-button:focus{
    background: #2dcb5d !important;
    border: 0;
}